<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysari.radio.mapper.StationMapper">
	<resultMap id="BaseResultMap"
		type="com.mysari.radio.mapper.StationMapper">
		<id column="stationId" property="stationId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="hd_Enabled" property="hd_Enabled"
			jdbcType="TINYINT" />
		<result column="callSign" property="callSign"
			jdbcType="VARCHAR" />
	</resultMap>

	<!--Query all -->
	<select id="findAll" resultType="station">
		SELECT * FROM STATION
	</select>

	<!--Find By ID -->
	<select id="findByID" resultType="station">
		SELECT * FROM STATION WHERE
		STATIONID = #{stationId}
	</select>
	
	<!--Find By ID or Name -->
	<select id="findByIDorName" resultType="station">
		SELECT * FROM STATION WHERE
		STATIONID = #{search} or 
		NAME = #{search}
	</select>

	<!--Find By NAME -->
	<select id="findByName" resultType="station">
		SELECT * FROM STATION WHERE
		NAME = #{name}
	</select>

	<!--Find HDEnabled -->
	<select id="findHDEnabled" resultType="station">
		SELECT * FROM STATION
		WHERE HD_ENABLED = TRUE
	</select>

	<!--Add Station -->
	<insert id="addStation" keyProperty="stationId"
		parameterType="Station">
		INSERT INTO STATION(stationId, name, hd_Enabled,
		callSign)
		VALUES(#{stationId}, #{name}, #{hd_Enabled}, #{callSign})
	</insert>

	<!--Remove Station -->
	<delete id="removeStation">
		DELETE FROM STATION WHERE STATIONID =#{stationId}
	</delete>

	<!--Update Station information -->
	<update id="updateStation" parameterType="Station">
		UPDATE STATION SET NAME
		= #{name}, HD_ENABLED =#{hd_Enabled}, CALLSIGN
		=#{callSign}
		WHERE
		STATIONID = #{stationId}
	</update>

</mapper>